/* HOME page */
#outer-container-quote {
  background-image: url(https://images.pexels.com/photos/1084510/pexels-photo-1084510.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 90vh;
}

#outer-container-quote #inner-container-quote {
  max-width: 1140px;
}

#outer-container-quote #inner-container-quote .quote {
  max-width: 840px;
  padding: 20px;
  margin: auto;
  margin-left: 15vw;
  font-family: "Cedarville Cursive", cursive;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, darkgoldenrod), to(black));
  background: linear-gradient(darkgoldenrod 30%, black);
  -webkit-background-clip: text;
  color: transparent;
}

#art-container {
  display: block;
  padding: 80px 20px;
}

#art-container #content-container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}

#art-container #content-container .section-title-container {
  position: relative;
}

#art-container #content-container .section-title-container:after {
  content: "";
  position: absolute;
  border-bottom: 2px solid black;
  bottom: 0;
  left: 0;
  width: 100%;
}

#art-container #content-container .section-title-container .section-title {
  font-family: "Playfair Display", serif;
  display: inline-block;
  background: black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px;
  color: white;
}

@media (max-width: 599px) {
  #art-container #content-container .section-title-container .section-title {
    font-size: 3.6em;
  }
}

.gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 60px 0;
}

.gallery-container .gallery-item {
  margin: 20px;
}

.gallery-container .gallery-item .gallery-description-container {
  position: relative;
}

.gallery-container .gallery-item .gallery-description-container:before {
  content: "";
  position: absolute;
  top: -2.5%;
  left: -2.5%;
  height: 105%;
  width: 105%;
  background-image: linear-gradient(45deg, #333333 10%, transparent 10%, transparent 90%, #333333 90%);
  -webkit-transition: background-image 0.15s ease-in, -webkit-transform 0.15s ease-in;
  transition: background-image 0.15s ease-in, -webkit-transform 0.15s ease-in;
  transition: transform 0.15s ease-in, background-image 0.15s ease-in;
  transition: transform 0.15s ease-in, background-image 0.15s ease-in, -webkit-transform 0.15s ease-in;
}

.gallery-container .gallery-item .gallery-description-container .gallery-img {
  width: 230px;
  position: relative;
}

.gallery-container .gallery-item .gallery-description-container .gallery-item-details {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  padding: 0 10px;
  grid-row-gap: 20px;
  background: rgba(0, 0, 0, 0.384);
  color: white;
  position: absolute;
  width: 100%;
  height: 99%;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-in;
  transition: opacity 0.15s ease-in;
}

.gallery-container .gallery-item .gallery-description-container .gallery-item-details .item-title {
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in 0.15s;
  transition: opacity 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in 0.15s;
  transition: opacity 0.15s ease-in 0.15s, transform 0.15s ease-in 0.15s;
  transition: opacity 0.15s ease-in 0.15s, transform 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in 0.15s;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  text-transform: uppercase;
}

.gallery-container .gallery-item .gallery-description-container .gallery-item-details .view-item-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 25px;
  background: none;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  -webkit-transition: background 0.15s ease-in;
  transition: background 0.15s ease-in;
}

.gallery-container .gallery-item .gallery-description-container .gallery-item-details .view-item-button:hover {
  background: #006c50;
  border-color: #006c50;
}

.gallery-container .gallery-item:hover .gallery-description-container:before {
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  background-image: linear-gradient(45deg, black 10%, transparent 10%, transparent 90%, black 90%);
}

.gallery-container .gallery-item:hover .gallery-description-container .gallery-item-details {
  opacity: 1;
}

.gallery-container .gallery-item:hover .gallery-description-container .gallery-item-details .item-title {
  opacity: 1;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

#blogs-container {
  display: block;
  padding: 80px 20px;
}

#blogs-container #content-container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}

#blogs-container #content-container .section-title-container {
  position: relative;
}

#blogs-container #content-container .section-title-container:after {
  content: "";
  position: absolute;
  border-bottom: 2px solid black;
  bottom: 0;
  left: 0;
  width: 100%;
}

#blogs-container #content-container .section-title-container .section-title {
  font-family: "Playfair Display", serif;
  display: inline-block;
  background: black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px;
  color: white;
}

@media (max-width: 599px) {
  #blogs-container #content-container .section-title-container .section-title {
    font-size: 3.6em;
  }
}

#blogs-container #content-container {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 40px;
}

#blogs-container #content-container #group-blogs-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 400px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 400px));
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.single-blog {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 20px;
  padding: 20px;
  -webkit-box-shadow: 0 0 2px #0000007a;
          box-shadow: 0 0 2px #0000007a;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.single-blog .blog-title {
  font-family: "Playfair Display", serif;
}

.single-blog .blog-info {
  font-size: 14px;
}

.single-blog .blog-info .blog-date,
.single-blog .blog-info .blog-author {
  font-family: "Playfair Display", serif;
}

.single-blog .blog-short-paragraph {
  line-height: 1.5;
}

.single-blog .blog-img {
  width: 100%;
}

#single-blogs-container {
  display: block;
  padding: 80px 20px;
}

#single-blogs-container #content-container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}

#single-blogs-container #content-container .section-title-container {
  position: relative;
}

#single-blogs-container #content-container .section-title-container:after {
  content: "";
  position: absolute;
  border-bottom: 2px solid black;
  bottom: 0;
  left: 0;
  width: 100%;
}

#single-blogs-container #content-container .section-title-container .section-title {
  font-family: "Playfair Display", serif;
  display: inline-block;
  background: black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px;
  color: white;
}

@media (max-width: 599px) {
  #single-blogs-container #content-container .section-title-container .section-title {
    font-size: 3.6em;
  }
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

#header {
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
  position: relative;
}

#header #nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}

#header #nav-container #logo-link #header-logo {
  width: 150px;
}

#header #nav-container #header-nav {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#header #nav-container #header-nav .nav-item {
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: color 0.15s ease-in;
  transition: color 0.15s ease-in;
}

#header #nav-container #header-nav .nav-item:hover {
  color: #57b22b;
}

#footer {
  background-image: url(https://images.pexels.com/photos/354939/pexels-photo-354939.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-size: cover;
  background-position: top;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: soft-light;
  background-attachment: fixed;
  padding: 20px;
}

#footer #footer-container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#footer #footer-container #footer-nav-container {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 20px;
}

#footer #footer-container #footer-nav-container .footer-nav-item {
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #cccccc;
  -webkit-transition: color 0.15s ease-in;
  transition: color 0.15s ease-in;
}

#footer #footer-container #footer-nav-container .footer-nav-item:hover {
  color: white;
}

#footer #footer-container #footer-logo {
  width: 300px;
}

#footer #copyright-text {
  color: #e9ebed;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 1.4em;
}

/* styling with tags */
a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 4em;
}
/*# sourceMappingURL=styles.css.map */