@import "./helper/_variables.scss";
@import "./helper/_mixins.scss";
//pages
@import "./pages/home";
@import "./pages/art";
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-secondary;
}

#header {
  box-shadow: 0 0 5px black;
  #nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include inner-desktop-container;
    #logo-link {
      #header-logo {
        width: 150px;
      }
    }
    #header-nav {
      flex-basis: 35%;
      display: flex;
      justify-content: space-evenly;
      .nav-item {
        text-transform: uppercase;
        font-weight: bold;
        transition: color 0.15s ease-in;
        &:hover {
          color: $color-secondary;
        }
      }
    }
  }
}

#footer {
  background-image: url(https://images.pexels.com/photos/354939/pexels-photo-354939.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-size: cover;
  background-position: top;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: soft-light;
  background-attachment: fixed;
  //background-image: linear-gradient(45deg, $color-primary, $color-tertiary);
  padding: 20px;

  #footer-container {
    @include inner-desktop-container;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    #footer-nav-container {
      display: grid;
      grid-row-gap: 20px;
      .footer-nav-item {
        font-weight: bold;
        width: fit-content;
        color: darken(white, 20%);
        transition: color 0.15s ease-in;
        &:hover {
          color: white;
        }
      }
    }
    #footer-logo {
      width: 300px;
    }
  }

  #copyright-text {
    color: $color-extra;
    width: fit-content;
    margin: 0 auto;
    font-size: 1.4em;
  }
}

/* styling with tags */
a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 4em;
}
