//colors
$color-primary:#006c50;
$color-secondary:#57b22b;
$color-tertiary:#aae557;
$color-extra:#e9ebed;


//fonts
$font-primary: 'Heebo', sans-serif;
$font-secondary: 'Josefin Sans', sans-serif;

$max-width-container: 1140px;