#blogs-container {
  @include main-container;
  #content-container {
    display: grid;
    grid-row-gap: 40px;
    #group-blogs-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 400px));
      grid-column-gap: 30px;
      grid-row-gap: 30px;
    }
  }
}

.single-blog {
  display: grid;
  grid-row-gap: 20px;
  padding: 20px;
  box-shadow: 0 0 2px #0000007a;
  height: fit-content;
  .blog-title {
    font-family: $font-tertiary;
  }

  .blog-info {
    font-size: 14px;
    .blog-date,
    .blog-author {
      font-family: $font-tertiary;
    }
  }

  .blog-short-paragraph {
    line-height: 1.5;
  }
  .blog-img {
    width: 100%;
  }
}
