#single-blogs-container,
#more-blogs-container {
  @include main-container;
  .content-container {
    display: grid;
    grid-row-gap: $padding-margin-lg;
  }
}

#single-blogs-container {
  padding: 60px 20px;
}

.single-blog-container {
  display: grid;
  grid-row-gap: 30px;
  .blog-text-container {
    max-width: $blog-text-container-max-width;
    width: 100%;
    margin: 0 auto;
  }

  .single-blog-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .avatar-author-container {
      display: flex;
      .avatar-container {
        margin-right: 10px;
        .avatar {
          width: 50px;
        }
      }

      .author-date-container {
        line-height: 1.5;
        .single-blog-author {
          text-transform: uppercase;
        }
        .single-blog-date {
          color: $light-black;
        }
      }
    }

    .blog-tags-container {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .fa-tags {
        margin-right: 10px;
        color: $color-secondary;
      }

      .tags-text {
        .blog-tags {
          display: inline-block;
          font-size: 0.7em;
          background: $color-tertiary;
          color: white;
          padding: 5px;
          border: 1px solid;
          border-radius: 5px;
          transition: background 0.15s ease-in;
          &:hover {
            background: darken($color-tertiary, 15%);
          }
        }
      }
    }
  }

  .single-blog-title {
    font-family: $blog-title-font;
    font-size: $blog-title-size;
    @include media-phone {
      font-size: $blog-title-size-sm;
    }
  }

  .single-blog-details {
    font-size: $blog-details-size;
    display: grid;
    grid-row-gap: 20px;
    line-height: 1.5;
    .single-blog-paragraph {
      font-family: $blog-body-font;
    }
  }

  .single-blog-img-container {
    @include media-tablet {
      margin: 0 -$padding-margin-sm;
    }
    .single-blog-image {
      max-width: 100%;
    }
  }
}

#more-blogs-container {
  background: whitesmoke;
  .content-container {
    #group-blogs-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 365px));
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      justify-content: center;
      @include media-tablet {
        grid-template-columns: repeat(auto-fill, minmax(250px, 100%));
      }
      .blog {
        background: white;
      }
    }
  }
}
