#blogs-container {
  @include main-container;
  .content-container {
    display: grid;
    grid-row-gap: $padding-margin-md;
    #group-blogs-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 400px));
      grid-column-gap: 30px;
      grid-row-gap: 30px;
    }
  }
}

.search-blogs-form {
  position: sticky;
  top: 73.06px; //navbar-height
  left: 100%;
  width: fit-content;
  outline: 3px solid $color-extra;
  transition: outline 0.15s ease-in;
  &:focus-within {
    outline: 3px solid $color-secondary;
    .search-btn {
      color: $color-primary;
    }
  }

  .search-box {
    font-size: 1em;
    border: none;
    outline: none;
    height: 30px;
    width: 240px;
    padding: 5px;
  }

  .search-btn {
    width: 30px;
    height: 30px;
    background: white;
    border: none;
    color:$light-black;
    cursor: pointer;
    transition:color 0.15s ease-in;
    &:hover {
      color: $color-secondary;
    }
  }
}

.blog {
  display: grid;
  grid-row-gap: 20px;
  padding: 20px;
  box-shadow: 0 0 3px darken($color-extra, 10%);
  height: fit-content;
  transition: box-shadow 0.15s ease-in;
  &:hover {
    box-shadow: 0 0 4px #0000007a;
  }

  .blog-title {
    font-family: $blog-title-font;
    text-transform: capitalize;
  }

  .blog-info {
    font-size: 14px;
    .blog-date,
    .blog-author {
      font-family: $font-tertiary;
      font-variant-caps: small-caps;
      font-weight: bold;
    }
  }

  .blog-img-container {
    overflow: hidden;
    max-height: 240px;
    .blog-img {
      width: 100%;
    }
  }

  .blog-short-paragraph {
    line-height: 1.5;
    font-family: $blog-body-font;
  }
}
