.section-title {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    border-bottom: 2px solid black;
    bottom: 0;
    left:0;
    width: 100%;
  }
  span {
    display: inline-block;
    background: black;
    width: fit-content;
    padding: 5px;
    color: white;
  }
}

.single-blog {
  display: grid;
  grid-row-gap: 20px;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid;
  max-width: 400px;
  min-width: 220px;

  .blog-img {
    width: 100%;
  }
}
