@mixin inner-desktop-container{
    max-width: $max-width-container;
    margin: 0 auto;
    width:100%;
}

//animation
@mixin animation-mixin($animation-name){
    @keyframes #{$animation-name} {
        
    }
}