//google fonts
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Cedarville+Cursive|Playfair+Display|Zilla+Slab&display=swap");

//colors
$color-primary: #006c50;
$color-secondary: #57b22b;
$color-tertiary: #aae557;
$color-extra: #e9ebed;

$light-black: rgba(0, 0, 0, 0.651);
//fonts
$font-primary: "Cedarville Cursive", cursive;
$font-secondary: "Josefin Sans", sans-serif;
$font-tertiary: "Playfair Display", serif;
$font-extra: "Zilla Slab", serif;

//blogs
$blog-title-size: 2.5em;
$blog-title-size-sm: 2em;
$blog-details-size: 18px;
$blog-text-container-max-width: 700px;

$blog-title-font: $font-tertiary;
$blog-body-font: $font-extra;

//padding,margin
$padding-margin-lg: 60px;
$padding-margin-md: 40px;
$padding-margin-sm: 20px;

$max-width-container: 1140px;
