//colors
$color-primary:#006c50;
$color-secondary:#57b22b;
$color-tertiary:#aae557;
$color-extra:#e9ebed;

$light-black:rgba(0, 0, 0, 0.651);
//fonts
$font-primary: "Cedarville Cursive", cursive;
$font-secondary: 'Josefin Sans', sans-serif;
$font-tertiary: 'Playfair Display', serif;

$max-width-container: 1140px;